<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="d-flex align-items-center" >
      <a class="btn" routerLink="/home" [ngClass]="{'border-bottom-only': isActive('/home')}">
        <i class="fas fa-home"></i>
      </a>
      <P style="font-size: 25PX; margin-left: 4px; margin-right: 4px;"> / </P>
      <a class="btn text-center font-weight-bold" routerLink="/company" [ngClass]="{'border-bottom-only': isActive('/company')}">
        EMPRESA
      </a>
      <P style="font-size: 25PX; margin-left: 4px; margin-right: 4px;"> / </P>
      <a class="btn text-center font-weight-bold" routerLink="/articles" [ngClass]="{'border-bottom-only': isActive('/articles')}">
        ARTICULO
      </a>
    </div>
    <a class="navbar-brand mx-auto" href="#"></a>

    <div class="d-flex align-items-center">
      <img src="https://via.placeholder.com/100" alt="Avatar" class="avatar me-2" (click)="toggleDropdown()" />
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" id="userDropdown" (click)="toggleDropdown()" aria-expanded="isDropdownOpen">
          Usuario Apellido
        </button>
        <ul class="dropdown-menu" [class.show]="isDropdownOpen" aria-labelledby="userDropdown">
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="#">Ajustes</a></li>
          <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
