/* sidebar.component.scss */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px; /* Ancho reducido cuando está cerrado */
  background-color: #343a40;
  color: white;
  overflow-x: hidden;
  transition: width 0.3s ease, transform 0.3s ease;
  transform: translateX(-25px); /* Oculto por defecto */
  z-index: 1000;
}

.sidebar.open {
  width: 250px; /* Ancho completo cuando está abierto */
  transform: translateX(0); /* Mostrar cuando está abierto */
}

.sidebar-content {
  padding: 15px;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav .nav-item {
  padding: 10px;
}

.sidebar-nav .nav-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar-nav .nav-link i {
  margin-right: 10px; /* Espacio entre icono y texto */
}

.sidebar-nav .nav-text {
  display: none; /* Ocultar texto cuando está cerrado */
}

.sidebar.open .nav-text {
  display: inline; /* Mostrar texto cuando está abierto */
}

.btn-close, .btn-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #343a40;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.btn-menu {
  top: 20px; /* Ajustar posición para el botón de menú */
  right: 20px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 200px; /* Ajustar ancho para pantallas más pequeñas */
  }
}
