.body_content {
  transition: margin-left 0.3s ease; /* Transición suave cuando se mueve */
  margin-left: 55px; /* Estado inicial con la barra lateral cerrada */
}

.body_content_shifted {
  margin-left: 250px; /* Ajusta el valor según el ancho de tu barra lateral */
}
