<div class="container w-100 container-content">
  <div class="search-container  mt-5 "><br><br><br>
    <h1 class="search-title">¿Qué quieres buscar?</h1>
    <p class="search-subtitle text-left">Encuentra la información que desees consultar ...</p>

    <div class="input-group search-input mt-5">
      <select class="custom-select" id="serviceSelect">
        <option selected>Todos los servicios</option>
        <option value="1">Opcion 1</option>
      </select>
      <input type="text" class="form-control" placeholder="Qué servicio quieres consultar">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
      </div>
    </div>
    <div class="row services-section border mt-5">
      <div class="col-md-4">
        <div class="service-box p-3 no-border rounded">
          <h5>Certificado</h5>
          <p style="font-size: 12px;">Conoce los beneficios que tenemos para ti al registrarte.</p>
          <a href="#">+Beneficios</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box p-3 no-border rounded">
          <h5>Crear cuenta</h5>
          <p style="font-size: 12px;">Conoce los beneficios que tenemos para ti al registrarte.</p>
          <a href="#">Ver todo</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box p-3 no-border rounded">
          <h5>Top trámites</h5>
          <p style="font-size: 12px;">Conoce los trámites más solicitados.</p>
          <a href="#" class="mt-4">Ver todo</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row background mt-5">
    <h2 class="highlight-title text-primary bg-text-title text-position font-weight-bold ">SERVICIOS</h2>
    <div class="col-md-100 w-50">
      <div class="card no-border card-content ">
        <div class="card-body card-border-left">
          <h6 class="text-left text-content">Trámites en tu mano</h6>
          <p class="highlight-text bg-white text-left" style="font-size: 12px;">Ahora podrás hacer todos tus trámites desde la comodidad de tu casa, desde cualquier dispositivo, computadora, tablet o móvil.</p>
          </div>
      </div>
    </div>
  </div>
</div>
