<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card no-border">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">INFORMACIÓN DEL CONTACTO</h5><br>
          <div class="text-center">
            <p> <span class="custom-bold">Dirección</span><br> {{contact.address}}</p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Correo electrónico</span><br> {{contact.email}}</p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Sitio Web</span><br> <a href="">{{contact.web}}</a> </p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Red social</span>
            <p> <a href="">{{contact.inst}}</a><br><a href="">{{contact.link}}</a></p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Dirección de correspondencia de correo</span><br> {{contact.email_address }}
            </p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Número de teléfonos</span><br></p>
            <p> <span>Fijo</span><br> {{contact.fijo}} <br> <span>Celular</span><br> {{contact.cel}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7 mb-4"></div>
  </div>
