.custom-bold {
  font-weight: bold;
}

.no-border {
  border: none;
}

.width-card {
  height: 100px;
  width: 10px;
}

.custom-border-radius {
  border-radius: 50%;
}


.card {
  border-radius: 10px;
}

.custom-border-radius {
  border-radius: 10px;
}

.card-body {
  padding: 5px;
}

.scrollable-container {
  height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  /* border: 1px solid #ddd; */
  padding: 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

