<div class="container mt-3">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card no-border">
        <div class="card-body">
          <h5 class="card-title font-weight-bold">INFORMACIÓN DEL CONTACTO</h5><br>
          <div class="text-center">
            <p> <span class="custom-bold">Dirección</span><br> {{contact.address}}</p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Correo electrónico</span><br> {{contact.email}}</p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Sitio Web</span><br> <a href="">{{contact.web}}</a> </p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Red social</span>
            <p> <a href="">{{contact.inst}}</a><br><a href="">{{contact.link}}</a></p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Dirección de correspondencia de correo</span><br> {{contact.email_address }}
            </p>
          </div>
          <div class="text-center">
            <p> <span class="custom-bold">Número de teléfonos</span><br></p>
            <p> <span>Fijo</span><br> {{contact.fijo}} <br> <span>Celular</span><br> {{contact.cel}}</p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-8 mb-4">
      <div class="card no-border">
        <div class="card-body">
          <h1>hola mundo</h1>
        </div>
      </div> <br>

      <div class="card no-border scrollable-container">
        <div class="container h-25">
          <div class="row">
            <div *ngFor="let article of articles" class="col-md-3 mb-4">
              <div class="card-body text-center">
                <img style="border-radius: 50%;" [src]="article.imagen" alt="{{article.titulo}}">
                <h6 style="font-size: 13px; margin-top: 2px;">{{article.titulo}}</h6>
                <p style="font-size: 10px;">{{article.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
